.venv
training-data/test/
training-data/train/
testing-data/valid/

.venv/
__pycache__/Cards.cpython-312.pyc
__pycache__/VideoStream.cpython-312.pyc
training-data/data.yaml
training-data/README.dataset.txt
training-data/README.roboflow.txt
**/*.jpg
training-data/valid/labels/*.txt
training-data/valid/labels.cache
**/.DS_Store
.DS_Store
